@model IEnumerable<StoreMVC.Models.ManagerLocationModel>
@{
    ViewData["Title"] = "Locations";
}

<div class="text-center">
    <h2>Our different Locations</h2>

    <p>
        @* asp-action is an example of a tag helper, looks like an attribute of your html element *@
        <a asp-action="Create">Create a new location.</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @* Helpers are also used to tie your views to particular actions in controllers *@
                        @* This is an html helper *@
                        @Html.ActionLink("Edit", "EditLocation", new { Id = item.Id }) | 
                        @Html.ActionLink("Orders", "FindUserHistories", new { Id = item.Id })
                        @*@Html.ActionLink("Delete", "Delete", new { name = item.Name })*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td>There are no locations. </td></tr>
        }

    </tbody>
</table>