@model IEnumerable<StoreMVC.Models.LocationModel>
@{
    ViewData["Title"] = "Locations";
}

<div class="text-center">
    <h2>Our different Locations</h2>

@*    <p>
        <a asp-action="Create">Create a new location.</a>
    </p>*@
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "EditLocation", new { Id = item.Id })*@
                        @Html.ActionLink("Choose", "ChosenLocation", new { Id = item.Id, Name = item.Name , Address = item.Address})
                        @*@Html.ActionLink("Delete", "Delete", new { name = item.Name })*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td>There are no locations. </td></tr>
        }

    </tbody>
</table>